@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout";
}

<div>
	<h1>Sports Pro Technical Support</h1>
	<span>Sports management software for the sports enthusiast.</span>
	<h2>Admin</h2>
	<ul  class="list-group">
		<li class="list-group-item">
			<a asp-controller="Product" asp-action="Index">Manage Products</a>
		</li>
		<li class="list-group-item">
			<a asp-controller="Technician" asp-action="Index">Manage Technicians</a>
		</li>
		<li class="list-group-item">
			<a asp-controller="Customer" asp-action="Index">Manage Customers</a>
		</li>
		<li class="list-group-item">
			<a asp-controller="Incident" asp-action="Index">Manage Incidents</a>
		</li>
		<li class="list-group-item">
			<a asp-controller="Home" asp-action="Index">Manage Registrations</a>
		</li>
	</ul>
	<h2>Technicians</h2>
	<ul class="list-group">
		<li class="list-group-item">
			<a asp-controller="TechIncident" asp-action="Index">Update Incidents</a>
		</li>
	</ul>
</div>
